<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- Adding phone method  -->
	<form method="post" th:action="@{/insertPhone}" th:object="${phone}">
		<input type="hidden" name="id" th:field="*{id}"><br>
		Model <input type="text" name="model" th:field="*{model}" required><br>
		Price <input type="number" name="price" th:field="*{price}" required><br>
		<input type="submit" value="Add Phone!">
	</form>
	
	<table th:if="${session.phoneList != null AND session.phoneList != ''}">
		<tr th:each="s : ${session.phoneList}">
			<td th:text="${s.id}">ID</td>
			<td th:text="${s.model}">Model</td>
			<td th:text="${s.price}">Price</td>
		</tr>
	</table>
</body>
</html>