
 <!--  
 	Author Name: Ho Hoang Duy     
	Student ID: 991794661
	Email Student : ryanho040503@gmail.com (Personal Email)
	Date: Oct 28 2025 (Week 8)
	Application Description : This small web application help user to add desired phone(s) to cart and then purchase those
	Semester : 3nd
	Course : Enterprise Java Development
	Instructor : Pooja Kakkar
	Email Instructor : kakkarpo@sheridan.desire2learn.com
	Github : https://github.com/ryanho040503/Enterprise-Java-Development
 -->

<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:text="${session.sessionID}"></div>
	<div th:text="${session.myTest}"></div>
	<div>
		<a th:href="@{/}">Home</a>
	</div>
</body>
</html>